@model PagedListViewModel<Meeting>

@{
    ViewBag.Title = "Meetings";
}

<h2>Meetings</h2>

@foreach (var meeting in Model.Items)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <a asp-controller="Meetings" asp-action="Detail" asp-route-id="@meeting.Id"> @meeting.Title</a>
            <span asp-visible='User.IsInRole("Admin")'>
                (<a asp-controller="Meetings" asp-action="Edit" asp-route-id="@meeting.Id">Edit</a> | <a asp-controller="Meetings" asp-action="Delete" asp-route-id="@meeting.Id">Delete</a>)
            </span>
        </div>
        <div class="panel-body">
            @meeting.Description
        </div>
    </div>
}

<div asp-visible='User.IsInRole("Admin")'>
    <hr />
    <a asp-controller="Meetings" asp-action="Create">New Meeting</a>
</div>